* {
  text-decoration: none;
  list-style-type: none;

}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--body-color);
  font-family: "josefin sans";
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}
