@media only screen and (max-width: 412px) {
  .specialties {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    row-gap: 3rem;
  }
  .specialty {
    width: 100%;
  }
  .choice {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    &__category {
      font-size: 2rem;
      font-weight: 600;
      margin-top: 0;
      margin-bottom: .8rem;
  }
}
  .choice__flex {
    width: 57%;
  }
  .conta {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .specification__questionsyearly {
    gap: 4rem;
    margin-top: 1rem;
    margin-left: 3rem;
  }
  .conta {
    gap: 2rem;
  }
  .next {
    transform: translateX(-38rem);

}
}
