@media only screen and (max-width: 412px) {
  .specialties {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    row-gap: 3rem;
  }
  .specialty {
    width: 100%;
  }
}
