.courses {
  display: flex;
  justify-content: space-between;
  position: relative;

  &__block {
    position: absolute;
    width: 84%;
    top: 0;
    right: 0;
  }
}
@media only screen and (max-width: 412px) {
  .courses {
    &__block {
      position: absolute;
      width: 100%;
      top: 0;
    }
  }
}
