.avatar {
  position: relative;
  width: 97%;
  background-color: var(--content-color);
  //   margin: 1rem auto;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-between;
  
  &__bio {
    width: 50%;
      display: flex;
      align-items: center;
      background-color: var(--active-color);
    &-photo {
      width: 10rem;
      margin-right: 1rem;
    }
    &-caption {
      font-size: 2.5rem;
      color: var(--main-color);
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
    &-name {
      font-size: 1.5rem;
    }
  }
  &__photos {
    height: 15rem;
    width: 20rem;
  }
  &::after {
    position: absolute;
    // background-image: url(rofile.png);
  }
}
// /////////////////////////My Courses///////////////
.review {
  margin-left: 1rem;
  &__control {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    &-heading {
      margin: 1rem 0;
      font-size: 2rem;
      font-weight: 700;
    }
  }
  &__courses {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &--type {
      width: 20%;
      padding: 1rem;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      background-color: var(--content-color);
      border-radius: 0.8rem;
      box-shadow: -1px 2px 3px -1px var(--body-text-color);
      transition: 1s;
      &-name {
        font-size: 1.7rem;
        font-weight: 600;
        color: var(--main-color);
        margin: 0.8rem 0;
      }
      &-icon {
        height: 10rem;
      }
      &:hover {
        transform: translateY(-1rem);
      }
    }
  }
}


// /////////////////STUDYING AND REVSISION////////////////
.study{
    width: 98%;
    margin-top: 1rem;
    margin-left: 1rem;
    &__revision{
        background-color: var(--content-color);
        width: 35%;
        &--heading{
            &-name{
                font-size: 2rem;
                color: white;
                padding: .8rem .5rem;
            background-color: var(--main-color);
            }
        }
    }
}
.revise{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__pdficon{
        font-size: 3rem;
        color: var(--main-color);
    }
    &__casename{
        line-height: 1.5;
        &-name{
            font-size: 1.5rem;
            font-weight: 700;
        }
        &-year{
            font-size: 1rem;
        }
    }
    &__icon{
        font-size: 3rem;
        color: orange;
        // background-color: var(--main-color);
    }
}
.revise:not(:last-child){
    margin-bottom: 1rem;
}
// ########################