.avatar {
  position: relative;
  width: 97%;
  //   margin: 1rem auto;
  margin-top: 1rem;
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-between;

  &__bio {
    width: 50%;
    display: flex;
    padding: 1rem;
    align-items: center;
    border-radius: 1rem;
    animation: gradientAnimation 15s ease infinite;
    background: rgb(73, 18, 112);
    background: linear-gradient(
      141deg,
      rgba(73, 18, 112, 1) 67%,
      rgba(61, 40, 185, 1) 71%,
      rgba(47, 0, 61, 1) 76%,
      rgba(47, 0, 61, 1) 81%,
      rgba(61, 40, 185, 1) 86%,
      rgba(47, 0, 61, 1) 90%
    );
    color: rgb(189, 189, 189);
        &-photo {
      width: 10rem;
      margin-right: 1rem;
    }
    &-caption {
      font-size: 3rem;
      color: rgb(7, 0, 15);

      font-weight: 700;
      margin-bottom: 1rem;
    }
    &-name {
      font-size: 1.5rem;
    }
  }
  &__photos {
    height: 15rem;
    width: 20rem;
  }
  &::after {
    position: absolute;
    // background-image: url(rofile.png);
  }
}
// /////////////////////////My Courses///////////////
.review {
  margin-left: 2rem;
  &__control {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    &-heading {
      
      font-size: 2rem;
      font-weight: 700;
    }
  }
  &__courses {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &--type {
      width: 20%;
      padding: 1rem;
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      background-color: var(--content-color);
      border-radius: 0.8rem;
      box-shadow: -1px 2px 3px -1px var(--body-text-color);
      transition: 1s;
      &-name {
        font-size: 1.7rem;
        font-weight: 600;
        color: var(--main-color);
        margin: 0.8rem 0;
      }
      &-icon {
        height: 10rem;
      }
      &:hover {
        transform: translateY(-1rem);
      }
    }
  }
}

// /////////////////STUDYING AND REVSISION////////////////
.study {
  width: 98%;
  margin-top: 2rem;
  margin-left: 2rem;
  &__revision {
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--content-color);
    width: 35%;
    &-heading {
      display: flex;
      color: white;
      justify-content: space-between;
      background-color: var(--main-color);
      font-size: 1.8rem;
      font-weight: 500;
      padding: .8rem 2rem;
      margin: 0;
      &-name {
        font-size: 2rem;
        font-weight: 500;
        color: white;
        padding: 0.8rem 0.5rem;
        background-color: var(--main-color);
      }
    }
  }
}
.revise {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  &__pdficon {
    font-size: 3rem;
    color: var(--main-color);
  }
  &__casename {
    line-height: 1.5;
    &-name {
      font-size: 1.5rem;
      // font-weight: 500;
    }
    &-year {
      font-size: 1rem;
    }
  }
  &__icon {
    font-size: 2rem;
    
    // background-color: var(--main-color);
  }
  &:hover{
    background-color: var(--inactive-color);
  }
}
.revise:not(:last-child) {
  margin-bottom: 1rem;
}
// ########################
